@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*Variables*/

:root {
    --green-color: #7acc2d;
    --white-color: white;
    --black-color: #313337;
    /* Espaciado */
    --space: 10px;
    /* Tipografia */
    --normal: 12px;
    /*Box shadow*/
    --box: 0px 0px 2px 1px #e6e5e9;
}

html,
body {
    padding: 0;
    margin: 0;
    font-size: var(--normal);
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    background-color: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--white-color);
}


/*-------------------- Main section*/

.main-section {
    padding: 15%;
    text-align: center;
}

.products {
    background-image: url('../images/curve.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    max-height: 50px;
    padding: 10%;
    display: flex;
}

.product {
    padding: var(--space);
    margin-top: -190px;
}

.product .content {
    background-color: var(--white-color);
    padding: 15px;
    box-shadow: var(--box);
}

.image-content {
    text-align: center;
}

.main-button {
    background-color: var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: 17px;
    color: var(--white-color);
    border: 0;
    border-radius: 2px;
}

.main-button:hover {
    background-color: #5e9e22;
    cursor: pointer;
}

.information {
    display: flex;
    padding: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.info {
    width: 400px;
    height: 200px;
    padding: 10px;
    margin-top: -30px;
    margin-bottom: 30px;
}

figure {
    text-align: center;
}

.info-size {
    text-align: center;
}

.info-image-1 {
    width: 138px;
    height: 113px;
}

.info-image-2 {
    width: 112px;
    height: 103px;
}

.info-image-3 {
    width: 104px;
    height: 104px;
}

.info-title,
p {
    text-align: center;
}

h2.mention-title {
    text-align: center;
}

.menciones {
    padding: 10%;
}

.menciones-content {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.menciones-info {
    box-shadow: 0px 1px 10px 0px #20212447;
}

.menciones-image {
    width: 100%;
}

.menciones-description {
    padding: 10px;
    margin-top: -25px;
}

.menciones-description p {
    margin-top: -10px;
}


/* Venta */

.modulo_pago {
    background-color: var(--white-color);
    box-shadow: var(--box);
    padding: var(--space);
}

.modulo_pago_images {
    max-width: 150px;
    text-align: center;
    width: 100%;
    margin: auto;
}


/* Footer */

.footer {
    background-color: #313337;
    width: 100%;
    height: 40px;
    color: #FFFFFF;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}